*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
#output{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.692);
    height: 90px;
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#cursor-elm{
    background-color: rgba(19, 19, 19, 0.897);
    width: 15px;
    height: 40px;
    // position: absolute;
    // top: 25px;
    // left: 200px;
    animation: blink 1s infinite;
    // transition: opacity 500ms;

}

#text{
    // background-color: rgba(0, 255, 255, 0.479);
    height: 40px;
    // position: absolute;
    // top: 25px;
    // left: 200px;
    width: 1200px;
    display: flex;
    justify-content: center;
}

#text-field{
    display: block;
    font-weight: 400;
    font-size: 2rem;
    vertical-align: middle;

}

@keyframes blink{
    from{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}