#circle-1{
    background-color: red;
    width: 40px;
    height: 40px;
    border-radius:100%;
    position: absolute;
}
#circle-2{
    background-color: rgb(0, 0, 255);
    width: 50px;
    height: 50px;
    border-radius:100%;
    position: absolute;
}


#circle-3{
    background-color: rgb(55, 196, 0);
    width: 20px;
    height: 20px;
    border-radius:100%;
    position: absolute;

}
#sun{
    background-color: rgb(219, 162, 39);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;

}